<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	{% block lien %}
    	<link rel="stylesheet" href="../www/css/main.css" />
    	<link rel="stylesheet" href="../www/css/materialize.css" />
    {% endblock %}
	{% block head %}
	{% endblock %}
	<title>
		{% block title %}
		{% endblock %}
	</title>
</head>
<html>
	<body>
	{% block h1 %}
	{% endblock %}
	{% block content %}
	{% endblock %}
	<footer>
		<div class="ft">© 2017 Copyright - Laisné | Moulin | Tartreau</div>
	</footer>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

</body>




</html>
